{
  "extends": "google",
  "globals": {
    "document": true
  },
  "rules": {
//    "eqeqeq": 1,
//    "no-console": 0,
    "new-cap": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
   },
   "parserOptions": {
      "ecmaVersion": 6
   },
  "env": {
    "es6": true,
    "node": true,
    "jquery": true
  }
}
